* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-wrapper {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (min-width: 1200px) {
    width: 800px !important;
  }
}
.messages-wrapper {
  min-height: 590px;
  max-height: 590px;
  overflow: auto;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  padding: 1.5rem;

  .message {
    display: flex;
    width: 100%;
    position: relative;

    .date-send {
      position: absolute;
      top: 18px;
      color: #b2b2b2;
      font-size: 12px;
    }

    &.my-message {
      direction: rtl;
    }

    &.member-message {
      flex-direction: column;
    }

    .name-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .img-wrapper {
      width: 35px;
      height: 35px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }
}

.chat-input-wrapper {
  form {
    display: flex;
    align-items: stretch;

    .field {
      margin: 0 !important;
      width: 100% !important;
      .input > input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .button {
      padding: 0.85rem 1.25rem;
      margin: 0 !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
